    server {
            listen       80;
            server_name  {{ wp_public_dns }};

	location / {
	    proxy_pass             http://localhost:8000;
	    proxy_redirect         http://localhost:8000 http://{{ wp_public_dns }};
	    proxy_connect_timeout  10s;
	    proxy_send_timeout     30s;
	    proxy_read_timeout     30s;
	    proxy_set_header       X-Real-IP        $remote_addr;
	    proxy_set_header       X-Forwarded-For  $proxy_add_x_forwarded_for;   
        proxy_set_header       host             $http_host;
	    proxy_pass_request_headers on;    
	}

 }